body
{
  color: white;
  background: rgb(41, 141, 41);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 300px;
  height: 250px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:45px;
}
.heading{
  font-size: 20px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  font-size: 15px;
  color: #0033ff;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
}